[Libraries to ignore for Unity]
[Libraries]
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# Rider and VSCode
.idea/
.vscode/
*.sln
*.csproj

# Unity-specific
*.unitypackage
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
.DS_Store

# Crash and debug stuff
*.stacktrace
*.log
*.diff
Library/
